body {
	padding: 0;
	margin: 10px 0 10px 0;
	font-family: verdana, arial, sans-serif;
	font-size: 12px;
	color: #444444; /* DEFAULT FONT COLOR */
	background: #FFFFFF;
	text-align: left;
}

td{
	padding: 10px;
	border-width: 1px;
	border-style: dotted;
	border-color: black;
}

#menu ul {
  list-style-type: none;
  line-height: 26px;
  padding: 0 10px;
  text-align: left;
  border-width: 1px 0;
  border-style: solid;
  border-color: black;
  background: #CECFBD;
}

#menu ul li {
 display: inline;
 padding: 5px;
}

#menu ul a {
 font-variant: small-caps;
 text-decoration: none;
}

#menu ul a:hover {
  text-decoration: underline;
}
.ERROR {
	color: #DD0000;
}

.SUCCESS {
	color: #00DD00;
}